language: ruby
rvm:
- 2.0.0-p247
script: 
- bundle exec rake
after_success: coveralls
deploy:
  provider: heroku
  user: dfleiderman@gmail.com
  api_key:
    secure: BBMgbkiJ6QS6arOXdthSSIK+BVbmJclNJ/Xa1mNwy/Lv2NBtf+iT4UGTevRm8CQJ2yfvLrf9BRYbqoZQyCCalJXY4sGtm9XgjGxasupcmX9dBKWcJ/6bP5vL1jgChpYuIRuRXzuCRaMPhb7XTlU6B7eBC7eHDnM+7FG69X1KT/fTuaXKCwFDeZAykTnVvRmOALmBxLi/ULUTE408NsbqnJFtzXIl90AomyAkXI/RBdfTdWp3rfkgg93VXGCxsDz+GtRc5284Tes7C0SqfM5yAXoN+8AY7DccwSDvVOsCPWs+B54zDWiNvCXSeI5CYBYpjQwHwgNboHXv9iwzADSxHAnE2tcNNdRjxjRnRLGVcXKqOdbyI7DbRafoDDjebD8OZO8My7+oK0g1WbuxsrqVPqQ/vzTb5Jn6HxADdWYFPLc5MwX47jL+tQXd9TX7npxoCM6Id0pt3TO+ayi0V4LQDls9ykYmJyL5d0JtbbHYxOjEwMV9F/acXMLJxZ4u8MB1ijcthQNCdJghBWBJ4+BdHR/IddReWX5dNJClv/HTlcQac+ixYpfPXsNvU5d6a6VZvPjSzpmHqXB/vHRFismaU2ibicvlHR/Oyq0MuJeJdYls4PdveAowZFLnbJ3UuqglDRAVgHvf8pk3lMy1khRG1rW1Fr1vpM1gfKVy4QDMcjk=
  app: tarea-deployment