language: ruby
rvm:
- 2.0.0-p247
script: ruby test/testunitarios.rb

deploy:
  provider: heroku
  user: dfleiderman@gmail.com
  api_key:
    secure: ngXZVd1zF+4iv2uMq/eB7jM4ArOVpH9gNjpOubil5mAwkkkELXUFwZlZeEIIeRiCkwVwIQnHBAkzC1DolCSRp6663mhFaurdy2Jtnkhz1V80ckhm4Ro9SJMzHntGEE7ZC4xLAsQ59LPEYqd43F0jYjYXgqgEx0rFtfRuRhvGbGhABRT6x1RypEnhHxc0PjfrFqytNJxDE/gYtLY2jFyboCTX1/7hG20r1zaKKF5ei6lI2G8aj/5rbILowPbuFPdUSO4UkAaAEhRWa5pROh/ZZqvGu7S9BewSOB+xl4iPT8DK0KXbo6Ra3gzRi8JbxvzgDNS0ghbdZR0/yh9ibP9EpS9fpaxroh2FHMeKw7Zf3l0OtDFhiefaJs/8R2SSi18pNaJEuhc9vI1bRIIWXIZheMqvb8Zmi/DHmBcAKABJkELSKhIZyqHtempW7Ha6gLxFZAwa3NGjsTjX3Ne5Sojd7uNfZ+qwhm9hQpUO8BrpZhkdOMH9Q34ga0s4c+c+lFrHQPJI9In5lr3rMxQxf3y0zqbebl1Qs+wy/wpxxwOcx/VlmQHulQmGHa8Q3UzmjpmdMtqqc0dtQwjgIwlZQIbkp/0qtbLdfyKztq1BXTAvAZWxwHz4yVcXNd5YSFlo1ZEwiK4eo/kD3JKAgLA3UJ0+FmF5VdZ2nTuQJTOXDqJ9DN8=
  on:
    repo: tarea-deployment/master